html,body{
	height: 99%;
	width: 99%;
}
*{
	box-sizing: border-box;
}
.banner{
	margin: 15px;
	padding: 10px;
	border: 3px solid #e29dd3;
	box-shadow: 1px 3px 30px 1px #e9a0a0;
	text-transform: capitalize;
	text-shadow: 1px 1px #d3b592 ;
	font-family: Garamond;
	height: 120px;
	text-align: right;
	font-style: oblique;
h1{
	font-size: 0.7em;
}

#logo{
	width:  72px;
	position: absolute;
	top: 30px;
	right: 260px;
}
.container{
	border:2px #f3e5be;
	position: relative;
	top: 2px;
	margin: 15px;
	padding: 10px;
	height: 700px;
	overflow: hidden;
	background-color:rgb(255, 230, 204);
}
.wave{
	border: red 1px solid;
	background-color: rgba(255,34,45, 0.5);
	font-size: 0.9em;
	height: 25px;
	overflow: hidden;
	width: 80%;
	position:relative;
	left: 10%;
	transition: height 4s;
	display:block;
}
#l1{
	border:#afd69b 1px solid;
	background-image:repeating-linear-gradient(red, green);
}
.wave:hover{
	height:90%;
	top:1px;
	z-index:1;
}
.menu{
	position: absolute;
	top: 50px;
	left: 70px;
	color:#5f9ea0;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-size: 2em;
	text-shadow: 2px 2px #317873;
	font-style: oblique;
	width: 100px;
	overflow: hidden;
}
.menu a{
	color: #ffcccc;
	background-color: #317873;
	text-shadow: 0px 0px ;
	font-size: 0.5em;

	padding: 1px;
	border: 1px solid red;
	display: none;
}
.menu:hover a{
	display: block;
}
.menu a:hover{
	color: yellow;
	background-color: navy;
}
.left{
	width: 48%;
	position:absolute;
	left: 5px;
	background-color: salmon;
	color: ghostwhite;
	border:2px ghostwhite;
	border-radius:5%;
	font-family:'Times New Roman', Times, serif;
	font-size:2em;
	text-align:center;
}
.right{
	width:48%;
	position: absolute;
	right:5px;
	background-color: salmon;
	color: ghostwhite;
	border:2px ghostwhite;
	border-radius:5%;
	font-family:'Times New Roman', Times, serif;
	font-size:2em;
	text-align:center;
}
.bio{
	border:2px solid #ffcccc;
}
.background {
	height: 99%;
	width: 99%;
  background-image: url("background.pg"); 
  background-size: cover;                 
  background-position: center center;     
  background-repeat: no-repeat;           
  background-color: #cccccc;               
}
